<%- include ('../partials/nav-outside') %>

<h1 class="p-3 text-center">bienvenido extranjero</h1>

<div class="container-fluid min-vh-100">
	<div class="d-flex justify-content-center pt-5">
		<button
			class="btn btn-success">
			<a href="/products">Ver los Productos</a>
		</button>
	</div>
</div>

