<%- include ('../partials/nav-outside') %>

<div class="container d-flex flex-wrap" id="box-products"></div>


<ul>
	<% products.forEach(function(products) { %>
		<li>
			<strong>Nombre:</strong> <%= products.name %><br>
			<strong>Descripción:</strong> <%= products.description %><br>
			<strong>Precio:</strong> <%= products.price %><br>
		</li>
	<% }); %>
</ul>


<!-- script -->
<!-- <script
	type="module"
	src="/js/products/products.js">
</script> -->
