<%- include ('../partials/nav-outside') %>

<div class="container d-flex flex-wrap" id="box-products"></div>


<!-- <h5> <%= name %></h5> -->



<!-- script -->
<!-- <script
	type="module"
	src="/js/products/products.js">
</script> -->
