<div class="container-fluid bg-dark">
	<div>
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a
					class="nav-link link-light"
					aria-current="page"
					href="/"
					>Inicio</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link link-light"
					href="/products"
					>Productos</a
				>
			</li>
			<li class="nav-item">
				<a
					class="nav-link link-light"
					href="/contact"
					>Contacto</a
				>
			</li>
		</ul>
	</div>
	<div>
		<ul class="nav justify-content-end">
			<li class="nav-item">
				<a class="nav-link disabled fw-light">Todos los derechos reservados</a>
			</li>
		</ul>
	</div>
</div>
